/*Authorization page css*/
html, body {
    color: rgba(0, 0, 0, .95);
    background: linear-gradient(to top left, rgba(255, 255, 255, .2), rgba(0, 203, 169, .12)) no-repeat center center fixed;
    background-size: cover;
    font-size: 1vw;
    height: 100%;
    font-family: 'Lora', serif;
    margin: auto;
}

.auth {
    max-width: 20% !important;
}

label {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

/*Input text and password*/
.auth-form input[type=text],
.auth-form input[type=password] {
    margin-bottom: 2vh;
    margin-top: 2vh;
    border-right: none;
    border-top: none;
    border-left: none;
    background-color: transparent;
    outline: none;
    color: rgba(0, 0, 0, .9);
    caret-color: rgba(0, 0, 0, .9);
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, .5);
    font-family: 'Lora', serif;
}

.auth-form input[type=text]:focus,
.auth-form input[type=text]:hover,
.auth-form input[type=password]:focus,
.auth-form input[type=password]:hover {
    background-color: transparent;
    border-bottom: 2px solid rgba(0, 0, 0, .7);
}

/*Submit button css*/
.auth-form input[type=submit] {
    min-width: fit-content;
    cursor: pointer;
    padding: 1.5vh;
    margin: 0 0 1.5vh;
    width: 57%;
    color: rgba(0, 0, 0, .95);
    background: rgba(255, 255, 255, .1);
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, .5);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.auth-form input[type=submit]:hover {
    background: rgba(255, 255, 255, .4);
    border-color: rgba(0, 0, 0, .85);
    transition: all .45s;
}

.auth-logo {
    position: absolute;
    top: 13px;
    left: 10px;
}

.auth-logo img {
    width: 19vw;
    opacity: .9;
}