/*Set the profile information and logout link next to each other*/
.userContent {
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Set size of icon*/
.userContent i {
    font-size: 1vw;
}

/*Change style from default to own of link in html*/
.userContent a {
    color: rgba(255, 255, 255, .85);
    padding-left: 10px;
    font-weight: bold;
    font-size: 0.8vw;
}

.userContent a:hover {
    color: #955E8B;
}